# Importing csv Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/emresagaltici/Desktop/ford_data.csv')

In [3]:
df.head()

,Make,Model,Price,Year,Engine Size,Mileage,Fuel Type,Transmission,Color,Body Type,Wheel Drive,Doors,Seats,Engine Power,Top Speed,Acceleration,CO2 Rating
0,ford,Galaxy,5999.0,2012,1997cc,"98,542 miles",Diesel,Manual,BLACK,MPV,4X2,5.0,7.0,161 bhp,126 mph,9.8 seconds,149 g/km
1,ford,EcoSport,6190.0,2015,998cc,"81,500 miles",Petrol,Manual,BLUE,Hatchback,4X2,5.0,5.0,123 bhp,112 mph,12.7 seconds,125 g/km
2,ford,S-MAX,8295.0,2014,1997cc,"71,129 miles",Diesel,Automatic,BLUE,MPV,4X2,5.0,7.0,138 bhp,119 mph,10.9 seconds,149 g/km
3,ford,Fiesta,6000.0,2014,998cc,"72,600 miles",Petrol,Manual,BLACK,Hatchback,4X2,3.0,5.0,138 bhp,125 mph,9.0 seconds,104 g/km
4,ford,Transit Connect,16989.0,2017,1499cc,"51,000 miles",Diesel,Automatic,GREY,Other,4X2,NaN,NaN,118 bhp,NaN,NaN,129 g/km

# Falsche Daten Löschen(die mpg daten enthalten)

In [4]:
df = df[~df['Body Type'].str.contains('mpg', na=False)]

# Daten in das richtige Format umwandeln

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6244 entries, 0 to 6313
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          6244 non-null   object
 1   Model         6244 non-null   object
 2   Price         6244 non-null   float64
 3   Year          6244 non-null   object
 4   Engine Size   6244 non-null   object
 5   Mileage       6244 non-null   object
 6   Fuel Type     6244 non-null   object
 7   Transmission  6082 non-null   object
 8   Color         6244 non-null   object
 9   Body Type     6244 non-null   object
 10  Wheel Drive   6074 non-null   object
 11  Doors         4955 non-null   float64
 12  Seats         4857 non-null   float64
 13  Engine Power  6079 non-null   object
 14  Top Speed     5708 non-null   object
 15  Acceleration  3245 non-null   object
 16  CO2 Rating    4941 non-null   object
dtypes: float64(3), object(14)
memory usage: 878.1+ KB

In [7]:
df['Engine Size'] = df['Engine Size'].str.replace('cc', '')
df['Engine Size'] = df['Engine Size'].str.replace('L', '')
df['Engine Size'] = df['Engine Size'].str.replace('l', '')
df['Engine Size'] = df['Engine Size'].astype(float)

In [8]:
liter_to_cc = df[df['Engine Size'] < 50]
for i in liter_to_cc.index:
    df.loc[i, 'Engine Size'] *= 1000

In [9]:
df['Mileage'] = df['Mileage'].str.replace('miles','')
df['Mileage'] = df['Mileage'].str.replace(',','')
df['Mileage'] = df['Mileage'].astype(float)

In [10]:
df['Engine Power'] = df['Engine Power'].str.replace('bhp','')
df['Engine Power'] = df['Engine Power'].astype(float)

In [11]:
df['Top Speed'] = df['Top Speed'].str.replace('mph','')
df['Top Speed'] = df['Top Speed'].astype(float)

In [12]:
df['Acceleration'] = df['Acceleration'].str.replace('seconds','')
df['Acceleration'] = df['Acceleration'].astype(float)

In [13]:
df['CO2 Rating'] = df['CO2 Rating'].str.replace('g/km','')
df['CO2 Rating'] = df['CO2 Rating'].astype(float)

# Fehlende Daten vervollständigen

In [14]:
most_Transmission = df['Transmission'].mode()[0]
df['Transmission'].fillna(most_Transmission, inplace=True)

In [15]:
most_Wheel = df['Wheel Drive'].mode()[0]
df['Wheel Drive'].fillna(most_Wheel, inplace=True)

In [16]:
most_Doors = df['Doors'].mode()[0]
df['Doors'].fillna(most_Doors, inplace=True)

In [17]:
most_Seats = df['Seats'].mode()[0]
df['Seats'].fillna(most_Seats, inplace=True)

In [18]:
average = round(df['Engine Power'].mean())
df['Engine Power'].fillna(average, inplace=True)
df['Engine Power'].replace(0, average, inplace=True)

In [19]:
average = round(df['Top Speed'].mean())
df['Top Speed'].fillna(average, inplace=True)
df['Top Speed'].replace(0, average, inplace=True)

In [20]:
average = round(df['Acceleration'].mean())
df['Acceleration'].fillna(average, inplace=True)
df['Acceleration'].replace(0, average, inplace=True)

In [21]:
average = round(df['CO2 Rating'].mean())
df['CO2 Rating'].fillna(average, inplace=True)
df['CO2 Rating'].replace(0, average, inplace=True)

In [22]:
average = round(df['Engine Size'].mean())
df['Engine Size'].replace(0, average, inplace=True)

In [23]:
null_zahlen = df['Transmission'].isnull().sum()
print(null_zahlen)

0

# Ausreißer behandeln

In [25]:
import numpy as np

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6244 entries, 0 to 6313
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          6244 non-null   object
 1   Model         6244 non-null   object
 2   Price         6244 non-null   float64
 3   Year          6244 non-null   object
 4   Engine Size   6244 non-null   float64
 5   Mileage       6244 non-null   float64
 6   Fuel Type     6244 non-null   object
 7   Transmission  6244 non-null   object
 8   Color         6244 non-null   object
 9   Body Type     6244 non-null   object
 10  Wheel Drive   6244 non-null   object
 11  Doors         6244 non-null   float64
 12  Seats         6244 non-null   float64
 13  Engine Power  6244 non-null   float64
 14  Top Speed     6244 non-null   float64
 15  Acceleration  6244 non-null   float64
 16  CO2 Rating    6244 non-null   float64
dtypes: float64(9), object(8)
memory usage: 1007.1+ KB

In [27]:
quartile_1 = df['Price'].quantile(0.25)
quartile_3 = df['Price'].quantile(0.75)
inter_quartile_range = quartile_3 - quartile_1
threshold = 1.5
outliers = ((df['Price'] < (quartile_1 - threshold * inter_quartile_range)) | (df['Price'] > (quartile_3 + threshold * inter_quartile_range)))

In [28]:
handle_by = 'dropping'
if handle_by == 'dropping':
    df = df[~outliers]
elif handle_by == 'average':
        df['Price'][outliers] = df['Price'][~outliers].mean()
elif handle_by == 'log_transform':
        df['Price'] = np.log(df['Price'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5970 entries, 0 to 6313
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          5970 non-null   object
 1   Model         5970 non-null   object
 2   Price         5970 non-null   float64
 3   Year          5970 non-null   object
 4   Engine Size   5970 non-null   float64
 5   Mileage       5970 non-null   float64
 6   Fuel Type     5970 non-null   object
 7   Transmission  5970 non-null   object
 8   Color         5970 non-null   object
 9   Body Type     5970 non-null   object
 10  Wheel Drive   5970 non-null   object
 11  Doors         5970 non-null   float64
 12  Seats         5970 non-null   float64
 13  Engine Power  5970 non-null   float64
 14  Top Speed     5970 non-null   float64
 15  Acceleration  5970 non-null   float64
 16  CO2 Rating    5970 non-null   float64
dtypes: float64(9), object(8)
memory usage: 839.5+ KB

# Identifizierung und Löschung von Duplikaten

In [30]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

      Make                                              Model    Price  Year  \
939   ford                                             Fiesta  23375.0  2023
1338  ford  Transit Custom 2.0 TDCI 310 L2 H1 LWB LOW ROOF...  21499.0  2019
2632  ford                                             Ranger  19094.0  2020
2633  ford                                     Transit Custom  14994.0  2018
3622  ford                                              S-MAX  10400.0  2014
5849  ford                                              Focus  11280.0  2018
5948  ford                                            Transit  23999.0  2020
5949  ford                                            Transit  19999.0  2021
5950  ford                                            Transit  25999.0  2021
5951  ford                                            Transit  18499.0  2020
6226  ford                                            Transit  19499.0  2020
6227  ford                                            Transit  19250.0  2019
6228  ford                                            Transit  18250.0  2019

      Engine Size  Mileage Fuel Type Transmission       Color  Body Type  \
939        1000.0     20.0    Petrol       Manual    Magnetic  Hatchback
1338       2000.0  72566.0    Diesel       Manual       Black        Van
2632       1997.0  88607.0    Diesel    Automatic        Grey        Van
2633       1997.0  84710.0    Diesel       Manual        Blue        Van
3622       2200.0  97000.0    Diesel    Automatic  MISTY GREY        MPV
5849       1000.0  61660.0    Petrol       Manual       Black     Estate
5948       1997.0  43000.0    Diesel       Manual       White        Van
5949       1997.0  59000.0    Diesel       Manual       White        Van
5950       1997.0  26000.0    Diesel       Manual       White        Van
5951       1997.0  71000.0    Diesel       Manual       White        Van
6226       1997.0  55000.0    Diesel       Manual       White        Van
6227       1997.0  48000.0    Diesel       Manual       White        Van
6228       1997.0  58000.0    Diesel       Manual       White        Van

     Wheel Drive  Doors  Seats  Engine Power  Top Speed  Acceleration  \
939          4X2    5.0    5.0         132.0      116.0          11.0
1338         4X2    5.0    5.0         168.0       99.0          11.0
2632         4X4    5.0    5.0         210.0      111.0          11.0
2633         4X2    5.0    5.0         128.0       99.0          11.0
3622         4X2    5.0    7.0         198.0      132.0           8.9
5849         4X2    5.0    5.0         123.0      123.0          10.3
5948         4X2    5.0    5.0         128.0       99.0          11.0
5949         4X2    5.0    5.0         128.0       99.0          11.0
5950         4X2    5.0    5.0         128.0       99.0          11.0
5951         4X2    5.0    5.0         128.0       99.0          11.0
6226         4X2    5.0    5.0         128.0       99.0          11.0
6227         4X2    5.0    5.0         128.0       99.0          11.0
6228         4X2    5.0    5.0         128.0       99.0          11.0

      CO2 Rating
939        127.0
1338       127.0
2632       127.0
2633       127.0
3622       189.0
5849       108.0
5948       127.0
5949       127.0
5950       127.0
5951       127.0
6226       127.0
6227       127.0
6228       127.0

In [31]:
df = df.drop_duplicates()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5957 entries, 0 to 6313
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          5957 non-null   object
 1   Model         5957 non-null   object
 2   Price         5957 non-null   float64
 3   Year          5957 non-null   object
 4   Engine Size   5957 non-null   float64
 5   Mileage       5957 non-null   float64
 6   Fuel Type     5957 non-null   object
 7   Transmission  5957 non-null   object
 8   Color         5957 non-null   object
 9   Body Type     5957 non-null   object
 10  Wheel Drive   5957 non-null   object
 11  Doors         5957 non-null   float64
 12  Seats         5957 non-null   float64
 13  Engine Power  5957 non-null   float64
 14  Top Speed     5957 non-null   float64
 15  Acceleration  5957 non-null   float64
 16  CO2 Rating    5957 non-null   float64
dtypes: float64(9), object(8)
memory usage: 837.7+ KB

# Daten speichern

In [33]:
df.to_csv('/Users/emresagaltici/Desktop/ford_data.csv', index=False)

print("Die Daten wurden in einer csv-Datei gespeichert.")

Die Daten wurden in einer csv-Datei gespeichert.