# Importing csv Data

In [544]:
import pandas as pd

In [545]:
df = pd.read_csv('../Datensammlung/CSVS_By_Makes/volkswagen_data.csv')

In [546]:
df.head()

,Make,Model,Price,Year,Engine Size,Mileage,Fuel Type,Transmission,Color,Body Type,Wheel Drive,Doors,Seats,Engine Power,Top Speed,Acceleration,CO2 Rating
0,volkswagen,Polo,7370.0,2016,1197cc,"96,877 miles",Petrol,Manual,SILVER,Hatchback,4X2,5.0,5.0,88 bhp,114 mph,10.8 seconds,107 g/km
1,volkswagen,Passat,9351.0,2014,1968cc,"96,660 miles",Diesel,Automatic,SILVER,Estate,4X4,5.0,5.0,174 bhp,131 mph,8.7 seconds,155 g/km
2,volkswagen,Golf,13699.0,2017,1395cc,"32,300 miles",Petrol,Automatic,SILVER,MPV,4X2,5.0,5.0,147 bhp,132 mph,8.9 seconds,125 g/km
3,volkswagen,Golf,9490.0,2015,1968cc,"69,000 miles",Diesel,Manual,GREY,Hatchback,4X2,5.0,5.0,147 bhp,131 mph,8.6 seconds,106 g/km
4,volkswagen,Touran,10995.0,2015,1400cc,"51,180 miles",Petrol,Automatic,WHITE,MPV,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Falsche Daten Löschen(die mpg daten enthalten)

In [547]:
df = df[~df['Body Type'].str.contains('mpg', na=False)]

# Daten in das richtige Format umwandeln

In [548]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4528 entries, 0 to 4559
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          4528 non-null   object
 1   Model         4528 non-null   object
 2   Price         4528 non-null   float64
 3   Year          4528 non-null   object
 4   Engine Size   4528 non-null   object
 5   Mileage       4528 non-null   object
 6   Fuel Type     4528 non-null   object
 7   Transmission  4352 non-null   object
 8   Color         4528 non-null   object
 9   Body Type     4527 non-null   object
 10  Wheel Drive   4397 non-null   object
 11  Doors         3889 non-null   float64
 12  Seats         3864 non-null   float64
 13  Engine Power  4395 non-null   object
 14  Top Speed     4383 non-null   object
 15  Acceleration  2413 non-null   object
 16  CO2 Rating    3792 non-null   object
dtypes: float64(3), object(14)
memory usage: 636.8+ KB

In [549]:
df['Engine Size'] = df['Engine Size'].str.replace('cc', '')
df['Engine Size'] = df['Engine Size'].str.replace('L', '')
df['Engine Size'] = df['Engine Size'].str.replace('l', '')
df['Engine Size'] = df['Engine Size'].astype(float)

In [550]:
liter_to_cc = df[df['Engine Size'] < 50]
for i in liter_to_cc.index:
    df.loc[i, 'Engine Size'] *= 1000

In [551]:
df['Mileage'] = df['Mileage'].str.replace('miles','')
df['Mileage'] = df['Mileage'].str.replace(',','')
df['Mileage'] = df['Mileage'].astype(float)

In [552]:
df['Engine Power'] = df['Engine Power'].str.replace('bhp','')
df['Engine Power'] = df['Engine Power'].astype(float)

In [553]:
df['Top Speed'] = df['Top Speed'].str.replace('mph','')
df['Top Speed'] = df['Top Speed'].astype(float)

In [554]:
df['Acceleration'] = df['Acceleration'].str.replace('seconds','')
df['Acceleration'] = df['Acceleration'].astype(float)

In [555]:
df['CO2 Rating'] = df['CO2 Rating'].str.replace('g/km','')
df['CO2 Rating'] = df['CO2 Rating'].astype(float)

# Fehlende Daten vervollständigen

In [556]:
most_Transmission = df['Transmission'].mode()[0]
df['Transmission'].fillna(most_Transmission, inplace=True)

In [557]:
most_Wheel = df['Wheel Drive'].mode()[0]
df['Wheel Drive'].fillna(most_Wheel, inplace=True)

In [558]:
most_Doors = df['Doors'].mode()[0]
df['Doors'].fillna(most_Doors, inplace=True)

In [559]:
most_Seats = df['Seats'].mode()[0]
df['Seats'].fillna(most_Seats, inplace=True)

In [560]:
average = round(df['Engine Power'].mean())
df['Engine Power'].fillna(average, inplace=True)
df['Engine Power'].replace(0, average, inplace=True)

In [561]:
average = round(df['Top Speed'].mean())
df['Top Speed'].fillna(average, inplace=True)
df['Top Speed'].replace(0, average, inplace=True)

In [562]:
average = round(df['Acceleration'].mean())
df['Acceleration'].fillna(average, inplace=True)
df['Acceleration'].replace(0, average, inplace=True)

In [563]:
average = round(df['CO2 Rating'].mean())
df['CO2 Rating'].fillna(average, inplace=True)
df['CO2 Rating'].replace(0, average, inplace=True)

In [564]:
average = round(df['Engine Size'].mean())
df['Engine Size'].replace(0, average, inplace=True)

In [565]:
null_zahlen = df['Transmission'].isnull().sum()
print(null_zahlen)

0

# Ausreißer behandeln

In [566]:
import numpy as np

In [567]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4528 entries, 0 to 4559
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          4528 non-null   object
 1   Model         4528 non-null   object
 2   Price         4528 non-null   float64
 3   Year          4528 non-null   object
 4   Engine Size   4528 non-null   float64
 5   Mileage       4528 non-null   float64
 6   Fuel Type     4528 non-null   object
 7   Transmission  4528 non-null   object
 8   Color         4528 non-null   object
 9   Body Type     4527 non-null   object
 10  Wheel Drive   4528 non-null   object
 11  Doors         4528 non-null   float64
 12  Seats         4528 non-null   float64
 13  Engine Power  4528 non-null   float64
 14  Top Speed     4528 non-null   float64
 15  Acceleration  4528 non-null   float64
 16  CO2 Rating    4528 non-null   float64
dtypes: float64(9), object(8)
memory usage: 765.8+ KB

In [568]:
quartile_1 = df['Price'].quantile(0.25)
quartile_3 = df['Price'].quantile(0.75)
inter_quartile_range = quartile_3 - quartile_1
threshold = 1.5
outliers = ((df['Price'] < (quartile_1 - threshold * inter_quartile_range)) | (df['Price'] > (quartile_3 + threshold * inter_quartile_range)))

In [569]:
handle_by = 'dropping'
if handle_by == 'dropping':
    df = df[~outliers]
elif handle_by == 'average':
        df['Price'][outliers] = df['Price'][~outliers].mean()
elif handle_by == 'log_transform':
        df['Price'] = np.log(df['Price'])

In [570]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4330 entries, 0 to 4559
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          4330 non-null   object
 1   Model         4330 non-null   object
 2   Price         4330 non-null   float64
 3   Year          4330 non-null   object
 4   Engine Size   4330 non-null   float64
 5   Mileage       4330 non-null   float64
 6   Fuel Type     4330 non-null   object
 7   Transmission  4330 non-null   object
 8   Color         4330 non-null   object
 9   Body Type     4329 non-null   object
 10  Wheel Drive   4330 non-null   object
 11  Doors         4330 non-null   float64
 12  Seats         4330 non-null   float64
 13  Engine Power  4330 non-null   float64
 14  Top Speed     4330 non-null   float64
 15  Acceleration  4330 non-null   float64
 16  CO2 Rating    4330 non-null   float64
dtypes: float64(9), object(8)
memory usage: 608.9+ KB

# Identifizierung und Löschung von Duplikaten

In [571]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

            Make                                              Model    Price  \
435   volkswagen                                               Polo  22495.0
2305  volkswagen                                               Golf  23990.0
3022  volkswagen                                               Golf  13200.0
3985  volkswagen  Transporter T28 Highline SWB 150PS DSG - LED's...  37491.0

      Year  Engine Size  Mileage Fuel Type Transmission  Color  Body Type  \
435   2023       1000.0   1000.0    Petrol     Semiauto    Red  Hatchback
2305  2023       1000.0   4000.0    Petrol       Manual   Grey  Hatchback
3022  2019        999.0  36891.0    Petrol       Manual  White  Hatchback
3985  2023       1968.0      8.0    Diesel    Automatic   Grey        Van

     Wheel Drive  Doors  Seats  Engine Power  Top Speed  Acceleration  \
435          4X2    5.0    5.0          94.0      116.0          10.0
2305         4X2    5.0    5.0         109.0      126.0          10.0
3022         4X2    5.0    5.0         113.0      123.0           9.9
3985         4X2    5.0    5.0         142.0      125.0          10.0

      CO2 Rating
435        126.0
2305       126.0
3022       108.0
3985       130.0

In [572]:
df_v1 = df.drop_duplicates()

In [573]:
df_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4326 entries, 0 to 4559
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          4326 non-null   object
 1   Model         4326 non-null   object
 2   Price         4326 non-null   float64
 3   Year          4326 non-null   object
 4   Engine Size   4326 non-null   float64
 5   Mileage       4326 non-null   float64
 6   Fuel Type     4326 non-null   object
 7   Transmission  4326 non-null   object
 8   Color         4326 non-null   object
 9   Body Type     4325 non-null   object
 10  Wheel Drive   4326 non-null   object
 11  Doors         4326 non-null   float64
 12  Seats         4326 non-null   float64
 13  Engine Power  4326 non-null   float64
 14  Top Speed     4326 non-null   float64
 15  Acceleration  4326 non-null   float64
 16  CO2 Rating    4326 non-null   float64
dtypes: float64(9), object(8)
memory usage: 608.3+ KB

# Label Encoding

In [574]:
from sklearn.preprocessing import LabelEncoder

In [575]:
label_encoder = LabelEncoder()

columns_to_encode = ['Fuel Type', 'Model', 'Transmission', 'Color', 'Body Type', 'Wheel Drive']

for column in columns_to_encode:
    # Yeni sütun adını oluştur
    new_column_name = 'e_' + column.replace(' ', '_')  # Örneğin, 'e_Fuel_Type'

    # Label encoding işlemi
    df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])

C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_296\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])

In [576]:
df_v1.head(20)

,Make,Model,Price,Year,Engine Size,Mileage,Fuel Type,Transmission,Color,Body Type,...,Engine Power,Top Speed,Acceleration,CO2 Rating,e_Fuel_Type,e_Model,e_Transmission,e_Color,e_Body_Type,e_Wheel_Drive
0,volkswagen,Polo,7370.0,2016,1197.0,96877.0,Petrol,Manual,SILVER,Hatchback,...,88.0,114.0,10.8,107.0,3,66,2,91,7,0
1,volkswagen,Passat,9351.0,2014,1968.0,96660.0,Diesel,Automatic,SILVER,Estate,...,174.0,131.0,8.7,155.0,0,64,1,91,6,1
2,volkswagen,Golf,13699.0,2017,1395.0,32300.0,Petrol,Automatic,SILVER,MPV,...,147.0,132.0,8.9,125.0,3,59,1,91,10,0
3,volkswagen,Golf,9490.0,2015,1968.0,69000.0,Diesel,Manual,GREY,Hatchback,...,147.0,131.0,8.6,106.0,0,59,2,31,7,0
4,volkswagen,Touran,10995.0,2015,1400.0,51180.0,Petrol,Automatic,WHITE,MPV,...,142.0,125.0,10.0,130.0,3,76,1,114,10,0
5,volkswagen,Golf,13490.0,2019,1598.0,72000.0,Diesel,Automatic,WHITE,Hatchback,...,114.0,123.0,10.5,104.0,0,59,1,114,7,0
6,volkswagen,Polo,7750.0,2014,999.0,47000.0,Petrol,Manual,WHITE,Hatchback,...,59.0,100.0,15.5,106.0,3,66,2,114,7,0
7,volkswagen,Golf,3995.0,2011,1598.0,84992.0,Diesel,Manual,BLUE,Hatchback,...,103.0,117.0,11.3,119.0,0,59,2,8,7,0
8,volkswagen,Up,6995.0,2014,999.0,52379.0,Petrol,Manual,RED,Hatchback,...,59.0,99.0,14.4,105.0,3,133,2,84,7,0
9,volkswagen,Passat,16495.0,2017,1968.0,73059.0,Diesel,Automatic,WHITE,Estate,...,188.0,145.0,7.9,120.0,0,64,1,114,6,0
10,volkswagen,Scirocco,7490.0,2014,1968.0,112000.0,Diesel,Manual,BLUE,Coupe,...,138.0,129.0,9.3,118.0,0,67,2,8,5,0
11,volkswagen,Golf,12450.0,2015,1395.0,36619.0,Petrol,Automatic,GREY,Hatchback,...,123.0,126.0,9.3,116.0,3,59,1,31,7,0
12,volkswagen,Amarok,27594.0,2018,2967.0,53000.0,Diesel,Automatic,GREY,Other,...,221.0,119.0,10.0,212.0,0,0,1,31,11,1
13,volkswagen,Polo,3440.0,2007,1198.0,47500.0,Petrol,Manual,Blue,Hatchback,...,54.0,94.0,17.5,138.0,3,66,2,14,7,0
14,volkswagen,Tiguan,17499.0,2020,1968.0,56187.0,Diesel,Automatic,BLUE,Estate,...,147.0,125.0,9.3,131.0,0,73,1,8,6,0
16,volkswagen,Up,6999.0,2017,999.0,31154.0,Petrol,Manual,YELLOW,Hatchback,...,59.0,101.0,14.4,101.0,3,133,2,116,7,0
17,volkswagen,Tiguan,34995.0,2023,1500.0,5682.0,Petrol,Semiauto,Black,SUV,...,148.0,126.0,10.0,158.0,3,73,7,13,16,0
18,volkswagen,Shuttle,33995.0,2019,2000.0,34000.0,Diesel,Semiauto,Grey,MPV,...,147.0,112.0,12.2,174.0,0,69,7,35,10,0
19,volkswagen,T-Cross,17299.0,2021,1000.0,14093.0,Petrol,Manual,Grey,SUV,...,94.0,112.0,10.0,132.0,3,70,2,35,16,0
20,volkswagen,Golf SV,11999.0,2017,1600.0,32712.0,Diesel,Manual,Grey,MPV,...,114.0,119.0,10.0,110.0,0,60,2,35,10,0

# Daten speichern

In [577]:
df_v1.to_csv('volkswagen_data.csv', index=False)

print("Die Daten wurden in einer csv-Datei gespeichert.")

Die Daten wurden in einer csv-Datei gespeichert.