# Importing csv Data

In [80]:
import pandas as pd

In [405]:
df = pd.read_csv('../Datensammlung/CSVS_By_Makes/audi_data.csv')

In [406]:
df.head()

,Make,Model,Price,Year,Engine Size,Mileage,Fuel Type,Transmission,Color,Body Type,Wheel Drive,Doors,Seats,Engine Power,Top Speed,Acceleration,CO2 Rating
0,audi,A3,17795.0,2017,1984cc,"82,000 miles",Petrol,Automatic,GREY,Hatchback,4X4,5.0,5.0,306 bhp,155 mph,4.6 seconds,152 g/km
1,audi,TT,10500.0,2013,1798cc,"64,000 miles",Petrol,Automatic,WHITE,Coupe,4X2,2.0,4.0,158 bhp,140 mph,7.2 seconds,147 g/km
2,audi,A5,18995.0,2017,1968cc,"28,000 miles",Diesel,Automatic,RED,Convertible,4X2,2.0,4.0,188 bhp,144 mph,NaN,124 g/km
3,audi,Q3,13995.0,2016,2000cc,"73,219 miles",Petrol,Automatic,WHITE,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,audi,A1,10790.0,2016,1395cc,"73,412 miles",Petrol,Manual,BLACK,Hatchback,4X2,3.0,4.0,147 bhp,134 mph,7.8 seconds,117 g/km

# Falsche Daten Löschen(die mpg daten enthalten)

In [407]:
df = df[~df['Body Type'].str.contains('mpg', na=False)]

# Daten in das richtige Format umwandeln

In [408]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3695 entries, 0 to 3713
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          3695 non-null   object
 1   Model         3695 non-null   object
 2   Price         3695 non-null   float64
 3   Year          3695 non-null   object
 4   Engine Size   3695 non-null   object
 5   Mileage       3695 non-null   object
 6   Fuel Type     3695 non-null   object
 7   Transmission  3598 non-null   object
 8   Color         3695 non-null   object
 9   Body Type     3695 non-null   object
 10  Wheel Drive   3564 non-null   object
 11  Doors         3563 non-null   float64
 12  Seats         3563 non-null   float64
 13  Engine Power  3564 non-null   object
 14  Top Speed     3564 non-null   object
 15  Acceleration  2135 non-null   object
 16  CO2 Rating    3489 non-null   object
dtypes: float64(3), object(14)
memory usage: 519.6+ KB

In [409]:
df['Engine Size'] = df['Engine Size'].str.replace('cc', '')
df['Engine Size'] = df['Engine Size'].str.replace('L', '')
df['Engine Size'] = df['Engine Size'].str.replace('l', '')
df['Engine Size'] = df['Engine Size'].astype(float)

In [410]:
liter_to_cc = df[df['Engine Size'] < 50]
for i in liter_to_cc.index:
    df.loc[i, 'Engine Size'] *= 1000

In [411]:
df['Mileage'] = df['Mileage'].str.replace('miles','')
df['Mileage'] = df['Mileage'].str.replace(',','')
df['Mileage'] = df['Mileage'].astype(float)

In [412]:
df['Engine Power'] = df['Engine Power'].str.replace('bhp','')
df['Engine Power'] = df['Engine Power'].astype(float)

In [413]:
df['Top Speed'] = df['Top Speed'].str.replace('mph','')
df['Top Speed'] = df['Top Speed'].astype(float)

In [414]:
df['Acceleration'] = df['Acceleration'].str.replace('seconds','')
df['Acceleration'] = df['Acceleration'].astype(float)

In [415]:
df['CO2 Rating'] = df['CO2 Rating'].str.replace('g/km','')
df['CO2 Rating'] = df['CO2 Rating'].astype(float)

# Fehlende Daten vervollständigen

In [416]:
most_Transmission = df['Transmission'].mode()[0]
df['Transmission'].fillna(most_Transmission, inplace=True)

In [417]:
most_Wheel = df['Wheel Drive'].mode()[0]
df['Wheel Drive'].fillna(most_Wheel, inplace=True)

In [418]:
most_Body = df['Body Type'].mode()[0]
df['Body Type'].fillna(most_Body, inplace=True)

In [419]:
most_Doors = df['Doors'].mode()[0]
df['Doors'].fillna(most_Doors, inplace=True)

In [420]:
most_Seats = df['Seats'].mode()[0]
df['Seats'].fillna(most_Seats, inplace=True)

In [421]:
average = round(df['Engine Power'].mean())
df['Engine Power'].fillna(average, inplace=True)
df['Engine Power'].replace(0, average, inplace=True)

In [422]:
average = round(df['Top Speed'].mean())
df['Top Speed'].fillna(average, inplace=True)
df['Top Speed'].replace(0, average, inplace=True)

In [423]:
average = round(df['Acceleration'].mean())
df['Acceleration'].fillna(average, inplace=True)
df['Acceleration'].replace(0, average, inplace=True)

In [424]:
average = round(df['CO2 Rating'].mean())
df['CO2 Rating'].fillna(average, inplace=True)
df['CO2 Rating'].replace(0, average, inplace=True)

In [425]:
average = round(df['Engine Size'].mean())
df['Engine Size'].replace(0, average, inplace=True)

In [426]:
null_zahlen = df['Transmission'].isnull().sum()
print(null_zahlen)

0

# Ausreißer behandeln

In [427]:
import numpy as np

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3695 entries, 0 to 3713
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          3695 non-null   object
 1   Model         3695 non-null   object
 2   Price         3695 non-null   float64
 3   Year          3695 non-null   object
 4   Engine Size   3695 non-null   float64
 5   Mileage       3695 non-null   float64
 6   Fuel Type     3695 non-null   object
 7   Transmission  3695 non-null   object
 8   Color         3695 non-null   object
 9   Body Type     3695 non-null   object
 10  Wheel Drive   3695 non-null   object
 11  Doors         3695 non-null   float64
 12  Seats         3695 non-null   float64
 13  Engine Power  3695 non-null   float64
 14  Top Speed     3695 non-null   float64
 15  Acceleration  3695 non-null   float64
 16  CO2 Rating    3695 non-null   float64
dtypes: float64(9), object(8)
memory usage: 648.6+ KB

In [429]:
quartile_1 = df['Price'].quantile(0.25)
quartile_3 = df['Price'].quantile(0.75)
inter_quartile_range = quartile_3 - quartile_1
threshold = 1.5
outliers = ((df['Price'] < (quartile_1 - threshold * inter_quartile_range)) | (df['Price'] > (quartile_3 + threshold * inter_quartile_range)))

In [430]:
handle_by = 'dropping'
if handle_by == 'dropping':
    df = df[~outliers]
elif handle_by == 'average':
        df['Price'][outliers] = df['Price'][~outliers].mean()
elif handle_by == 'log_transform':
        df['Price'] = np.log(df['Price'])

In [431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3536 entries, 0 to 3713
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          3536 non-null   object
 1   Model         3536 non-null   object
 2   Price         3536 non-null   float64
 3   Year          3536 non-null   object
 4   Engine Size   3536 non-null   float64
 5   Mileage       3536 non-null   float64
 6   Fuel Type     3536 non-null   object
 7   Transmission  3536 non-null   object
 8   Color         3536 non-null   object
 9   Body Type     3536 non-null   object
 10  Wheel Drive   3536 non-null   object
 11  Doors         3536 non-null   float64
 12  Seats         3536 non-null   float64
 13  Engine Power  3536 non-null   float64
 14  Top Speed     3536 non-null   float64
 15  Acceleration  3536 non-null   float64
 16  CO2 Rating    3536 non-null   float64
dtypes: float64(9), object(8)
memory usage: 497.2+ KB

# Identifizierung und Löschung von Duplikaten

In [432]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

      Make Model    Price  Year  Engine Size  Mileage Fuel Type Transmission  \
2151  audi    A3  11995.0  2016       1598.0  80000.0    Diesel       Manual
2935  audi    A3  31716.0  2023       1500.0   5000.0    Petrol       Manual
2946  audi    A3  33676.0  2023       1500.0   5000.0    Petrol       Manual
3171  audi    Q5  29995.0  2019       1968.0  72502.0    Diesel    Automatic

      Color    Body Type Wheel Drive  Doors  Seats  Engine Power  Top Speed  \
2151   Grey  Convertible         4X2    2.0    4.0         109.0      124.0
2935  White    Hatchback         4X2    5.0    5.0         148.0      139.0
2946   Blue       Saloon         4X2    4.0    5.0         148.0      144.0
3171   GREY       Estate         4X4    5.0    5.0         188.0      137.0

      Acceleration  CO2 Rating
2151          11.4       112.0
2935           8.0       136.0
2946           8.0       133.0
3171           8.1       149.0

In [433]:
df_v1 = df.drop_duplicates()

In [434]:
df_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3532 entries, 0 to 3713
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          3532 non-null   object
 1   Model         3532 non-null   object
 2   Price         3532 non-null   float64
 3   Year          3532 non-null   object
 4   Engine Size   3532 non-null   float64
 5   Mileage       3532 non-null   float64
 6   Fuel Type     3532 non-null   object
 7   Transmission  3532 non-null   object
 8   Color         3532 non-null   object
 9   Body Type     3532 non-null   object
 10  Wheel Drive   3532 non-null   object
 11  Doors         3532 non-null   float64
 12  Seats         3532 non-null   float64
 13  Engine Power  3532 non-null   float64
 14  Top Speed     3532 non-null   float64
 15  Acceleration  3532 non-null   float64
 16  CO2 Rating    3532 non-null   float64
dtypes: float64(9), object(8)
memory usage: 496.7+ KB

# Feature Handling

In [435]:
df_v1['Transmission'].unique()

array(['Automatic', 'Manual', 'Semiauto', 'Semi Automatic', 'Auto',
       'Semi Auto', 'Semi-Automatic', 'Other'], dtype=object)

In [436]:
df_v1['Transmission'] = df_v1['Transmission'].replace(['Semiauto', 'Semi Auto', 'Semi Automatic', 'Semi-Automatic',], 'Semi-Auto', regex=True)
df_v1['Transmission'] = df_v1['Transmission'].replace(['Automatic', 'Auto'], 'Auto', regex=True)

df_v1['Transmission'].unique()

C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1794839037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1['Transmission'] = df_v1['Transmission'].replace(['Semiauto', 'Semi Auto', 'Semi Automatic', 'Semi-Automatic',], 'Semi-Auto', regex=True)
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1794839037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1['Transmission'] = df_v1['Transmission'].replace(['Automatic', 'Auto'], 'Auto', regex=True)

array(['Auto', 'Manual', 'Semi-Auto', 'Other'], dtype=object)

# Label Encoding

In [437]:
from sklearn.preprocessing import LabelEncoder

In [438]:
label_encoder = LabelEncoder()

columns_to_encode = ['Fuel Type', 'Model', 'Transmission', 'Color', 'Body Type', 'Wheel Drive']

for column in columns_to_encode:
    # Yeni sütun adını oluştur
    new_column_name = 'e_' + column.replace(' ', '_')  # Örneğin, 'e_Fuel_Type'

    # Label encoding işlemi
    df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])

C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])
C:\Users\HamzaKayaToprak\AppData\Local\Temp\ipykernel_1100\1718568044.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v1[new_column_name] = label_encoder.fit_transform(df_v1[column])

In [439]:
df_v1.head(20)

,Make,Model,Price,Year,Engine Size,Mileage,Fuel Type,Transmission,Color,Body Type,...,Engine Power,Top Speed,Acceleration,CO2 Rating,e_Fuel_Type,e_Model,e_Transmission,e_Color,e_Body_Type,e_Wheel_Drive
0,audi,A3,17795.0,2017,1984.0,82000.0,Petrol,Auto,GREY,Hatchback,...,306.0,155.0,4.6,152.0,3,2,0,21,6,1
1,audi,TT,10500.0,2013,1798.0,64000.0,Petrol,Auto,WHITE,Coupe,...,158.0,140.0,7.2,147.0,3,31,0,105,3,0
2,audi,A5,18995.0,2017,1968.0,28000.0,Diesel,Auto,RED,Convertible,...,188.0,144.0,8.0,124.0,0,4,0,80,2,0
3,audi,Q3,13995.0,2016,2000.0,73219.0,Petrol,Auto,WHITE,Other,...,194.0,139.0,8.0,143.0,3,12,0,105,8,0
4,audi,A1,10790.0,2016,1395.0,73412.0,Petrol,Manual,BLACK,Hatchback,...,147.0,134.0,7.8,117.0,3,0,1,0,6,0
5,audi,A5,10495.0,2015,2967.0,96269.0,Diesel,Auto,SILVER,Hatchback,...,201.0,146.0,7.1,129.0,0,4,0,84,6,0
6,audi,A3,26490.0,2017,1984.0,40000.0,Petrol,Auto,GREY,Hatchback,...,306.0,155.0,4.6,150.0,3,2,0,21,6,1
7,audi,TT,8493.0,2013,1968.0,64400.0,Diesel,Manual,BLACK,Coupe,...,168.0,140.0,7.6,139.0,0,31,1,0,3,1
8,audi,Q3,20995.0,2015,2480.0,40250.0,Petrol,Auto,BLUE,Estate,...,306.0,155.0,5.5,206.0,3,12,0,1,4,1
9,audi,A1,9995.0,2016,999.0,69981.0,Petrol,Manual,BLACK,Hatchback,...,94.0,116.0,10.9,97.0,3,0,1,0,6,0
10,audi,Q5,16950.0,2016,1968.0,78840.0,Diesel,Auto,WHITE,Estate,...,188.0,130.0,8.4,157.0,0,13,0,105,4,1
11,audi,A1,8495.0,2014,1390.0,98431.0,Petrol,Manual,BLACK,Hatchback,...,121.0,126.0,9.0,126.0,3,0,1,0,6,0
12,audi,Q5,29498.0,2019,2000.0,30355.0,Diesel,Semi-Auto,Grey,SUV,...,188.0,137.0,8.1,146.0,0,13,3,26,10,1
13,audi,Q5,28490.0,2019,2000.0,30894.0,Petrol,Semi-Auto,Grey,SUV,...,241.0,147.0,6.4,165.0,3,13,3,26,10,1
14,audi,A1,23490.0,2022,1000.0,9695.0,Petrol,Semi-Auto,Grey,Hatchback,...,109.0,126.0,8.0,135.0,3,0,3,26,6,0
15,audi,Q5,45990.0,2023,2000.0,1950.0,Diesel,Semi-Auto,Blue,SUV,...,201.0,137.0,8.0,172.0,0,13,3,6,10,1
16,audi,A3,29990.0,2023,1500.0,9890.0,Petrol,Semi-Auto,Grey,Saloon,...,148.0,144.0,8.0,133.0,3,2,3,26,11,0
17,audi,Q5,27490.0,2019,2000.0,36202.0,Diesel,Semi-Auto,Black,SUV,...,188.0,137.0,8.1,146.0,0,13,3,3,10,1
18,audi,Q3,33490.0,2020,2000.0,19945.0,Petrol,Semi-Auto,Grey,SUV,...,226.0,144.0,6.5,171.0,3,12,3,26,10,1
19,audi,TT,29990.0,2023,2000.0,5745.0,Petrol,Semi-Auto,Grey,Coupe,...,194.0,153.0,8.0,154.0,3,31,3,26,3,0

# Daten speichern

In [441]:
df_v1.to_csv('audi_data.csv', index=False)

print("Die Daten wurden in einer csv-Datei gespeichert.")

Die Daten wurden in einer csv-Datei gespeichert.